.navigation{
    margin: 0px auto;
    font-family: "Mistral", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 1.4px;
}
.navigation .item{
    position:absolute;
}
.user{
    top:20px;
    left:1080px;
	
}
.user1{  							/*image change to green*/
    top:20px;
    left:1080px;
}
.user2{  							/*image change to yellow*/
    top:20px;
    left:1080px;
}
.gpas{
	top:20px;
   left:880px;
}
.home{
   top:110px;
   left:80px;
}
.security{
   top:110px;
   left:280px;
}
.technic{
   top:110px;
   left:480px;
}
.company{
   top:110px;
   left:680px;
}
a.icon{
    width:52px;
    height:52px;
    position:absolute;
    top:0px;
    left:0px;
    cursor:pointer;
}
.user a.icon{
    background:transparent url(../images/user.png) no-repeat 0px 0px;
}
.user1 a.icon{ 												/*image change to green*/
    background:transparent url(../images/user_green.png) no-repeat 0px 0px;
}
.user2 a.icon{ 												/*image change to yellow*/
    background:transparent url(../images/user_yellow.png) no-repeat 0px 0px;
}
.home a.icon{
    background:transparent url(../images/home.png) no-repeat 0px 0px;
}
.gpas a.icon{
    background:transparent url(../images/igpas.png) no-repeat 0px 0px;
}
.security a.icon{
    background:transparent url(../images/security.png) no-repeat 0px 0px;
}
.technic a.icon{
    background:transparent url(../images/technology.png) no-repeat 0px 0px;
}
.company a.icon{
    background:transparent url(../images/organization.png) no-repeat 0px 0px;
}
.navigation .item a.active{
    background-position:0px -52px;
}
.item img.circle{
    position:absolute;
    top:0px;
    left:0px;
    width:52px;
    height:52px;
    opacity:0.1;
}
.item h2{
    position:absolute;
    width:147px;
    height:52px;
    color:#222;
    font-size:18px;
    top:0px;
    left:52px;
    text-indent:10px;
    line-height:52px;
    text-shadow:1px 1px 1px #fff;
    text-transform:uppercase;
}
.item h2.active{
    color:#fff;
    text-shadow:1px 0px 1px #555;
}
.item ul{
    list-style:none;
    position:absolute;
    top:60px;
    left:25px;
    display:none;
}
.item ul li a{
    font-size:15px;
    text-decoration:none;
    letter-spacing:1.5px;
    text-transform:uppercase;
    color:#222;
    padding:3px;
    float:left;
    clear:both;
    width:100px;
    text-shadow:1px 1px 1px #fff;
}
.item ul li a:hover{
    background-color:#fff;
    color:#444;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    -moz-box-shadow:1px 1px 4px #666;
    -webkit-box-shadow:1px 1px 4px #666;
    box-shadow:1px 1px 4px #666;
}

